body{
	text-align: center;
	font-family: cursive;
	background-color: #f2a30b;
	background:
	linear-gradient(135deg, hsla(39, 91%, 50%, 1) 0%, hsla(46, 100%, 75%, 1) 100%);
	height: 100%;
	background-size: cover;

}

#container{
	margin: 8% auto;
	border: 3px solid black;
	border-radius: 1rem;
	width: 70%;
	max-width: 70%;
	/*padding: 2rem;*/
	overflow: hidden;
	background-color: #ffe182;
}

#quote{
	font-size: 2rem;
	padding: 2rem 2rem 1rem 2rem;

}

#author{
	font-size: 1.7rem;
	padding: 0 1rem 1rem 1rem;
	text-align: right;
}

#btn{
	color: black;
	font-size: 2rem;
	background-color: #ffe182;
	width: 100%;
	border-radius: 0;
	cursor: pointer;
	padding: 0.5rem;
}
#btn:hover{
	background-color: #f2a30b;

}